<!DOCTYPE html>
<html>

<head>
    <title>Bem vindo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <h2>
        hi <%= name%>
    </h2>
    <form action="" method="">
        <button type="submit">
            Sair
        </button>
    </form>
</body>
</html>