<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Cadastro</title>
</head>

<body>
    <div class="content">

        <h2>
            Cadastre-se
        </h2>
        <form action="/register" method="POST">
            <div>
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="text" id="password" name="password" required>
            </div>

            <button type="submit">Criar cadastro</button>
        </form>
    <a class="link" href="/login">Voltar pro login</a>

    </div>

</body>

</html>